profiles {
  local {
    process.executor = 'local'
  }

  docker {
    process.executor = 'local'
    docker.enabled = true
    process.container = 'hekbluer:latest'
  }

  awsbatch {
    process.executor = 'awsbatch'
    process.queue = 'hekbluer-on-demand'
    process.container = 'public.ecr.aws/your-account/hekbluer:latest'
    workDir = 's3://your-hekbluer-bucket/work'
    aws.region = 'us-west-2'
  }

  awsbatch_spot {
    process.executor = 'awsbatch'
    process.queue = 'hekbluer-spot'
    process.container = 'public.ecr.aws/your-account/hekbluer:latest'
    workDir = 's3://your-hekbluer-bucket/work'
    aws.region = 'us-west-2'
    aws.batch.maxSpotAttempts = 5
    process.errorStrategy = 'retry'
    process.maxRetries = 3
  }
}

process {
  withName: VALIDATE_INPUTS {
    cpus = 1
    memory = '1 GB'
    time = '30m'
  }
  withName: RUN_HEKBLUE_ANALYSIS {
    cpus = 1
    memory = '2 GB'
    time = '1h'
  }
}

